@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans.eot");
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../fonts/IBMPlexSans.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans.woff") format("woff"), url("../fonts/IBMPlexSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Medium.eot");
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), url("../fonts/IBMPlexSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("IBMPlexSans-SemiBold.eot");
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url("../fonts/IBMPlexSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-SemiBold.woff") format("woff"), url("../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
html {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.account-main {
  flex: 1 1 auto;
}

.account__container {
  max-width: 1920px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.account__header {
  background-color: #0f2945;
  min-height: 80px;
  z-index: 100;
}
.account__header .header__content {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}
.account__header .header__content .header__logo {
  min-width: 180px;
  height: 45px;
  margin-right: 109px;
}
.account__header .header__content .header__logo img {
  width: 100%;
  height: 100%;
}
.account__header .header__content .header__info-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.account__header .header__content .header__info-panel .infop-panel__statistics {
  display: flex;
  flex-direction: column;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .statistics__title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .statistics__count {
  color: #27f3b5;
  font-weight: 600;
  font-size: 20px;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 {
  display: flex;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 .statistics__tasks {
  margin-right: 41px;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 .statistics__tasks .tasks__title {
  margin-right: 20px;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 .statistics__meeting .meeting__title {
  margin-right: 20px;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row2 .statistics__day-end .day-end__title {
  font-weight: 400;
  font-size: 14px;
  margin-right: 12px;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row2 .statistics__day-end .day-end__count {
  font-size: 16px;
}
.account__header .header__content .header__info-panel .info-panel__account-info {
  display: flex;
  align-items: center;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__link {
  margin-right: 63px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__link::after {
  display: inline-block;
  margin-left: 11px;
  transform: translateY(2px);
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/back-app-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container {
  position: relative;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container:hover .notice__container {
  display: block;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .account-info__notice {
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 71px;
  position: relative;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .account-info__notice img {
  display: block;
  width: 100%;
  height: 100%;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .account-info__notice .notice-count {
  display: inline-block;
  height: 18px;
  min-width: 18px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #27f3b5;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  border-radius: 15px;
  position: absolute;
  top: -9px;
  left: 13px;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container {
  display: none;
  position: absolute;
  top: 20px;
  left: -150px;
  min-width: 312px;
  width: 100%;
  padding: 20px 25px 27px;
  color: rgba(255, 255, 255, 0.9);
  background: #17304a;
  border-radius: 10px;
  z-index: 5;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 17px;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__list {
  height: 170px;
  overflow: hidden;
  margin-bottom: 22px;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__list .list__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__list .list__item .item__content {
  font-size: 13px;
  max-width: 169px;
  margin-bottom: 17px;
  max-height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__list .list__item .item__data {
  font-size: 12px;
  color: #808a96;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__link-show {
  font-size: 13px;
  font-weight: 600;
  color: #27f3b5;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__user {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__user .user__avatar {
  width: 34px;
  height: 34px;
  margin-right: 11px;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__user .user__avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #33475d;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__user .user__name {
  font-size: 14px;
  color: #fff;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__logout-btn {
  display: inline-block;
  width: 120px;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.account-sidebar {
  width: 290px;
  min-height: 100%;
  background-color: #f4f7fa;
  box-shadow: -40px 0 #f4f7fa;
  padding-top: 38px;
  color: #0f2945;
}
.account-sidebar .account-sidebar__menu a {
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  white-space: nowrap;
}
.account-sidebar .account-sidebar__menu a::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 20px;
  border-radius: 100px 0px 0px 100px;
  background-color: #0f2945;
  margin-right: 0;
  margin-left: auto;
  opacity: 0;
}
.account-sidebar .account-sidebar__menu a::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 20px;
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 14px;
}
.account-sidebar .account-sidebar__menu a:nth-child(1)::before {
  background-image: url("../img/icons/sidebar/main.svg");
}
.account-sidebar .account-sidebar__menu a:nth-child(2)::before {
  background-image: url("../img/icons/sidebar/calc.svg");
}
.account-sidebar .account-sidebar__menu a:nth-child(3)::before {
  background-image: url("../img/icons/sidebar/meeting.svg");
  width: 20px;
  height: 24px;
  margin-right: 8px;
  background-size: 20px 24px;
}
.account-sidebar .account-sidebar__menu a:nth-child(4)::before {
  background-image: url("../img/icons/sidebar/products.svg");
}
.account-sidebar .account-sidebar__menu a:nth-child(5)::before {
  background-image: url("../img/icons/sidebar/history.svg");
}
.account-sidebar .account-sidebar__menu a:hover {
  font-weight: 600;
}
.account-sidebar .account-sidebar__menu .active {
  font-weight: 600;
}
.account-sidebar .account-sidebar__menu .active::after {
  opacity: 1;
}

.account-main__section-content {
  padding-top: 32px;
  padding-left: 30px;
  color: #1e2733;
  width: 100%;
  padding-bottom: 300px;
}
.account-main__section-content .section-content__title {
  font-size: 34px;
  font-weight: 600;
}

.account-main__hepl .help__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #27f3b5;
  padding: 22px;
  cursor: pointer;
  position: absolute;
  top: 80%;
  right: 30px;
  z-index: 10;
}
.account-main__hepl .help__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.account__start {
  flex: 1 1 100%;
  background: linear-gradient(253.06deg, #153b63 -33.73%, #091525 106.5%);
  position: relative;
}
.account__start::after {
  position: absolute;
  content: "";
  box-shadow: 0 0 250px 250px #27f3b5, 10px 10px 350px 350px #27aaf3;
  opacity: 0.5;
  top: -20px;
  left: 0;
}
.account__start::before {
  position: absolute;
  content: "";
  box-shadow: -100px -300px 200px 200px #27aaf3;
  opacity: 0.2;
  bottom: 0;
  right: 0;
}
.account__start .account__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.account__start .start__start-form {
  position: relative;
  z-index: 100;
  background: linear-gradient(288.01deg, rgba(13, 35, 60, 0.8) -1.44%, #0d233c 99.35%);
  backdrop-filter: blur(200px);
  border-radius: 8px;
  max-width: 630px;
  width: 100%;
}
.account__start .start__start-form .start-form__title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.account__start .start__start-form .start-form__input-container {
  font-size: 16px;
  height: 64px;
}
.account__start .start__start-form .start-form__input-container input {
  background-color: #0c1e34;
  color: #a1c1d7;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  border-radius: 8px;
  border: 1px solid rgba(147, 160, 180, 0.3);
}
.account__start .start__start-form .start-form__input-container input::placeholder {
  color: #a1c1d7;
}
.account__start .start__start-form .start-form__subtitle {
  color: #fff;
}
.account__start .start__start-form .start-form__button-container {
  height: 64px;
  color: #0c1e34;
  font-size: 16px;
}
.account__start .start__start-form .start-form__button-container button {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.account__start .start__start-form .start-form__button-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.account__start .start__start-form .start-form__link {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.6;
  color: #27f3b5;
  display: block;
  text-align: center;
}
.account__start .start__authorization-form {
  padding: 50px 75px 60px;
}
.account__start .start__authorization-form .authorization-form__title {
  margin-bottom: 30px;
}
.account__start .start__authorization-form .authorization-form__tel {
  margin-bottom: 16px;
}
.account__start .start__authorization-form .authorization-form__pass {
  margin-bottom: 12px;
  position: relative;
}
.account__start .start__authorization-form .authorization-form__pass img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.account__start .start__authorization-form .authorization-form__pass-subtitle {
  font-size: 16px;
  line-height: 177%;
  margin-bottom: 16px;
}
.account__start .start__authorization-form .authorization-form__pass-subtitle a {
  border-bottom: 1px solid #fff;
}
.account__start .start__authorization-form .authorization-form__login-btn {
  margin-bottom: 20px;
}
.account__start .start__registration-form {
  padding: 42px 75px;
}
.account__start .start__registration-form .registration-form__title {
  margin-bottom: 30px;
}
.account__start .start__registration-form .registration-form__name,
.account__start .start__registration-form .registration-form__surname,
.account__start .start__registration-form .registration-form__patronymic,
.account__start .start__registration-form .registration-form__email,
.account__start .start__registration-form .registration-form__telnumber,
.account__start .start__registration-form .registration-form__pass {
  margin-bottom: 16px;
}
.account__start .start__registration-form .registration-form__pass {
  position: relative;
}
.account__start .start__registration-form .registration-form__pass img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.account__start .start__registration-form .registration-form__subtitle {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.account__start .start__registration-form .registration-form__reg-btn {
  margin-bottom: 20px;
}

.start__login-form {
  padding: 50px 75px 60px;
}
.start__login-form .login-form__title {
  margin-bottom: 41px;
}
.start__login-form .login-form__message {
  font-size: 16px;
  line-height: 1.6;
  color: #a1c1d7;
  text-align: center;
  margin-bottom: 27px;
}
.start__login-form .login-form__message .message__number {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.start__login-form .login-form__code {
  margin-bottom: 36px;
}
.start__login-form .login-form__login-btn {
  margin-bottom: 20px;
}

.section-content__products-list {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.section-content__products-list .products__item {
  max-width: 369px;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  background-color: #f4f7fa;
  color: #0f2945;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.section-content__products-list .products__item .item__header {
  display: flex;
  justify-content: space-between;
  padding: 21px 24px;
}
.section-content__products-list .products__item .item__header .item__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.03em;
}
.section-content__products-list .products__item .item__header .item__status {
  width: 100px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 7px;
  background-color: #e8edf2;
  color: #0f2945;
  border-radius: 1000px;
}
.section-content__products-list .products__item .item__header .item__status-green {
  background: linear-gradient(267.17deg, #27f3b5 -52.96%, #0f2945 100%);
  color: #fff;
}
.section-content__products-list .products__item .item__content-list {
  padding: 30px 24px 44px;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
}
.section-content__products-list .products__item .item__content-list .content-list__item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 21px;
}
.section-content__products-list .products__item .item__content-list .content-list__item:last-child {
  margin-bottom: 0;
}
.section-content__products-list .products__item .item__content-list .content-list__item::before {
  content: "...................................................................................";
  /* Выводим линию */
  width: 100%;
  overflow-x: hidden;
  order: 2;
  /* Выводим вторым */
  margin: 0 10px 0 5px;
  color: #e7e7e7;
}
.section-content__products-list .products__item .item__content-list .content-list__item .item__count {
  order: 3;
}

.section-content__products-no {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 93px;
  padding-bottom: 163px;
  background-color: #f4f7fa;
  border-radius: 4px;
  margin-top: 20px;
}
.section-content__products-no .products-no__img {
  max-width: 150px;
  max-height: 175px;
}
.section-content__products-no .products-no__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-content__products-no .products-no__subtitle {
  max-width: 410px;
  text-align: center;
  margin-top: 31px;
  margin-bottom: 31px;
  font-size: 16px;
  color: #0f2945;
}
.section-content__products-no .products-no__btn {
  display: inline-block;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
  max-width: 428px;
  width: 100%;
  padding: 15px 0;
  color: #0c1e34;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
}

.section-content__subtitle {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 16px;
}

.section-content__product-calc {
  padding-top: 36px;
  padding-bottom: 52px;
  background-color: #f4f7fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.section-content__product-calc .product-calc__settings-block {
  max-width: 500px;
  width: 100%;
}
.section-content__product-calc .product-calc__settings-block .settings-block__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item {
  background-color: #e8edf2;
  border-radius: 16px;
  padding: 25px;
  margin-bottom: 12px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item:last-child {
  margin-bottom: 0;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header {
  display: flex;
  align-items: center;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  margin-right: 28px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch input {
  display: none;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8edf2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 36px;
  border: 2px solid #c0c6cc;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch .slider::before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  background-color: #acb2b9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch input:checked + .slider {
  background-color: #0f2945;
  border: 2px solid #636a74;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch input:checked + .slider::before {
  background-color: #27f3b5;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .item__header-title {
  font-size: 13px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 500;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .item__header-arrow {
  margin-left: auto;
  transition: transform 0.4s;
  width: 17px;
  height: 9px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .item__header-arrow_transform {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api {
  position: relative;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api:hover .header-api-msg {
  display: block;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  max-width: 388px;
  width: 100%;
  padding: 27px 31px 39px;
  background-color: #fff;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 18px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;
  color: #0f2945;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-radius: 2px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__call {
  background-color: #27f3b5;
  margin-bottom: 16px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__call::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/call.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  margin-right: 12px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__mail {
  border: 1px solid rgba(15, 41, 69, 0.3);
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__mail::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 12px;
  background-image: url("../img/icons/mail.svg");
  background-size: 15px 12px;
  background-repeat: no-repeat;
  margin-right: 12px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body {
  display: none;
  margin-top: 19px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__title {
  font-size: 14px;
  color: #636a74;
  margin-bottom: 14px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__select-block {
  border: 1px solid rgba(147, 160, 180, 0.3);
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  padding: 8px 16px 0;
  margin-bottom: 8px;
  height: 64px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__select-block .select-block__subtitle {
  font-size: 12px;
  color: #636a74;
  line-height: 1.8;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__select-block .select-block__count {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__slidecontainer {
  width: 108%;
  margin-left: -17px;
  transform: translateY(-11px);
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__slidecontainer .slider {
  width: 100%;
  height: 1px;
  -webkit-appearance: none;
  appearance: none;
  background: #636a74;
  outline: none;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #0f2945;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #27f3b5;
  cursor: pointer;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__slidecontainer .slider::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid #0f2945;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #27f3b5;
  cursor: pointer;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__select-block-range {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  color: #636a74;
  line-height: 1.8;
  margin-bottom: 8px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__price {
  line-height: 1.8;
  font-size: 14px;
  font-weight: 500;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__price .body__price-value {
  font-weight: 700;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body_active {
  display: block;
}
.section-content__product-calc .product-calc__buy-block {
  max-width: 502px;
  width: 100%;
  padding-top: 75px;
}
.section-content__product-calc .product-calc__buy-block .buy-block__img {
  width: 122px;
  margin: 0 auto;
}
.section-content__product-calc .product-calc__buy-block .buy-block__img img {
  display: block;
  -webkit-filter: drop-shadow(0px 50px 150px #27f3b5);
  filter: drop-shadow(0px 50px 150px #27f3b5);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-content__product-calc .product-calc__buy-block .buy-block__price {
  width: 100%;
  padding: 23px 52px 27px 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8edf2;
  border-radius: 4px;
  transform: translateY(-10px);
}
.section-content__product-calc .product-calc__buy-block .buy-block__price .price__title {
  font-size: 16px;
  font-weight: 500;
}
.section-content__product-calc .product-calc__buy-block .buy-block__price .price__value {
  font-weight: 600;
  font-size: 30px;
}
.section-content__product-calc .product-calc__buy-block .buy-block__price .price__value span {
  font-size: 20px;
}
.section-content__product-calc .product-calc__buy-block .buy-block__btns {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  display: flex;
  gap: 18px;
}
.section-content__product-calc .product-calc__buy-block .buy-block__btns .btns__buy {
  color: #0c1e34;
  display: inline-block;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
}
.section-content__product-calc .product-calc__buy-block .buy-block__btns .btns__download {
  color: #0f2945;
  display: inline-block;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 1px solid rgba(15, 41, 69, 0.3);
  border-radius: 2px;
}
.section-content__product-calc .product-calc__buy-block .buy-block__btns .btns__download::before {
  display: inline-block;
  width: 12px;
  height: 15px;
  margin-right: 15px;
  content: "";
  background-image: url("../img/icons/download.svg");
  background-size: 12px 15px;
  background-position-y: center;
  background-repeat: no-repeat;
  transform: translateY(3px);
}

.section-content__deals {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}
.section-content__deals .deals__deal-item {
  max-width: 500px;
  width: 100%;
  padding: 36px 33px 50px 37px;
  border: 1px solid #e7e7e7;
  border-radius: 12px 50px 12px 12px;
}
.section-content__deals .deals__deal-item .deal-item__title {
  border-radius: 1000px;
  display: inline-block;
  padding: 13px;
  width: 180px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  background-color: #f4f7fa;
  margin-bottom: 33px;
}
.section-content__deals .deals__deal-item .deal-item__title span {
  background: linear-gradient(269.36deg, #27f3b5 0.12%, #0a4b96 99.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section-content__deals .deals__deal-item .deal-item__year-cost {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 11px;
}
.section-content__deals .deals__deal-item .deal-item__year-cost span {
  font-size: 50px;
}
.section-content__deals .deals__deal-item .deal-item__deal-cost {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 54px;
}
.section-content__deals .deals__deal-item .deal-item__desc {
  font-size: 16px;
  margin-bottom: 30px;
}
.section-content__deals .deals__deal-item .deal-item__desc p {
  font-size: 13px;
  color: #9f9f9f;
  margin-left: 28px;
}
.section-content__deals .deals__deal-item .deal-item__desc::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 5px #27f3b5;
  border-radius: 4px;
  background-color: #27f3b5;
  margin-right: 16px;
}
.section-content__deals .deals__deal-item .deal-item__desc:last-child {
  margin-bottom: 0;
}
.section-content__deals .deals__deal-item .deal-item__btn {
  display: inline-block;
  width: 100%;
  color: #0c1e34;
  padding: 18px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
  margin-top: 19px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.section-content__deals .deals__deal-item-vip {
  color: white;
  background: linear-gradient(180.34deg, #153b63 -21.32%, #091525 102%), linear-gradient(180deg, #f4f7fa 0%, rgba(244, 247, 250, 0) 100%);
  position: relative;
  overflow: hidden;
}
.section-content__deals .deals__deal-item-vip::before {
  position: absolute;
  content: "";
  box-shadow: 30px 30px 100px 100px #27f3b5;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 0;
}
.section-content__deals .deals__deal-item-vip::after {
  content: "";
  display: inline-block;
  width: 31px;
  height: 20px;
  background-image: url("../img/icons/vip.svg");
  background-size: 31px 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 36px;
  right: 33px;
}
.section-content__deals .deals__deal-item-vip .deal-item__title-vip {
  background: linear-gradient(267.17deg, #27f3b5 -52.96%, #0f2945 100%);
  color: #fff;
  z-index: 10;
  position: relative;
}

.section-content__info {
  margin-top: 34px;
  color: #9f9f9f;
  font-size: 16px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 53, 83, 0.5);
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup .popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.popup .popup__body .buy-prod {
  max-width: 630px;
  width: 100%;
  padding: 60px 75px 86px;
  background: linear-gradient(288.01deg, rgba(13, 35, 60, 0.8) -1.44%, #0d233c 99.35%);
  backdrop-filter: blur(200px);
  border-radius: 8px;
}
.popup .popup__body .buy-prod .buy-prod__title {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.popup .popup__body .buy-prod .buy-prod___message {
  margin-bottom: 31px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.popup .popup__body .buy-prod .start-form__input-container {
  font-size: 16px;
  height: 64px;
  margin-bottom: 16px;
}
.popup .popup__body .buy-prod .start-form__input-container input {
  background-color: #0c1e34;
  color: #a1c1d7;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  border-radius: 8px;
  border: 1px solid rgba(147, 160, 180, 0.3);
}
.popup .popup__body .buy-prod .start-form__input-container input::placeholder {
  color: #a1c1d7;
}
.popup .popup__body .buy-prod .buy-prod__count {
  height: 64px;
  width: 100%;
  background-color: #273a50;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.popup .popup__body .buy-prod .buy-prod__count span {
  display: inline-flex;
  align-items: center;
}
.popup .popup__body .buy-prod .buy-prod__count span::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url("../img/icons/bullit.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-right: 16px;
}
.popup .popup__body .buy-prod .start-form__button-container {
  height: 64px;
  color: #0c1e34;
  font-size: 16px;
  margin-top: 20px;
}
.popup .popup__body .buy-prod .start-form__button-container button {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.popup .popup__body .buy-prod .start-form__button-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.history-search-field {
  margin-top: 24px;
  margin-bottom: 30px;
  max-width: 424px;
  width: 100%;
  border: 1px solid #849eba;
  border-radius: 4px;
  height: 43px;
  padding-left: 16px;
  padding-right: 30px;
  color: #0f2945;
  font-size: 16px;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 14px);
  background-position-y: center;
  background-size: 14px 14px;
}
.history-search-field::-webkit-search-cancel-button {
  display: none;
}

.history-table-container {
  width: 100%;
}
.history-table-container table {
  max-width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}
.history-table-container table tr {
  text-align: left;
  height: 39px;
}
.history-table-container table tr th {
  padding-left: 16px;
}
.history-table-container table tr th:nth-child(1) div {
  min-width: 221px;
}
.history-table-container table tr th:nth-child(2) {
  width: 100%;
  min-width: 200px;
}
.history-table-container table tr th:nth-child(3) div {
  min-width: 395px;
}
.history-table-container table tr th:nth-child(4) div {
  min-width: 245px;
}
.history-table-container table tr td {
  padding-left: 16px;
  color: #000;
  font-size: 14px;
}
.history-table-container table tr td:nth-child(2) {
  font-weight: 600;
}
.history-table-container table tr:nth-child(1) {
  height: 45px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.045em;
  background-color: #f4f7fa;
}
.history-table-container table tr:nth-child(2n + 1) {
  background-color: #f4f7fa;
}

.notices-list {
  width: 100%;
  margin-top: 30px;
}
.notices-list .notices-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 39px;
}
.notices-list .notices-list__item .item__title {
  color: #0f2945;
  padding-left: 16px;
}
.notices-list .notices-list__item .item__title::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #d6dde4;
  margin-right: 16px;
  border-radius: 50%;
}
.notices-list .notices-list__item .item__title_active {
  font-weight: 600;
}
.notices-list .notices-list__item .item__title_active::before {
  background-color: #27f3b5;
}
.notices-list .notices-list__item .item__data {
  color: #000;
  padding-right: 16px;
}
.notices-list .notices-list__item:nth-child(odd) {
  background-color: #f4f7fa;
}

.section-content__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.section-content__order {
  max-width: 500px;
  width: 100%;
}
.section-content__order .order__product {
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  background-color: #f4f7fa;
}
.section-content__order .order__product .product__header {
  padding: 21px 25px;
  display: flex;
  justify-content: space-between;
  color: #0f2945;
  text-transform: uppercase;
}
.section-content__order .order__product .product__header .product__title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.03em;
}
.section-content__order .order__product .product__header .product__status {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.03em;
  background-color: #e8edf2;
  border-radius: 1000px;
  padding: 6px 20px;
}
.section-content__order .order__product .product__body {
  padding: 27px 27px 36px 25px;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}
.section-content__order .order__product .product__body .product__name {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  margin-bottom: 51px;
}
.section-content__order .order__product .product__body .product__year-cost {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 11px;
}
.section-content__order .order__product .product__body .product__year-cost span {
  font-size: 26px;
}
.section-content__order .order__product .product__body .product__item-cost {
  font-weight: 600;
  font-size: 20px;
}
.section-content__order .order__payment .payment__title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.section-content__order .order__payment .payment__card {
  background-color: #f4f7fa;
  border: 1px solid #f4f7fa;
  border-radius: 4px;
  height: 125px;
  padding-left: 30px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}
.section-content__order .order__payment .payment__card .card__icons {
  display: flex;
  gap: 18px;
  align-items: center;
}
.section-content__order .order__payment .payment__card .card__icons img:nth-child(1) {
  width: 66px;
  height: 20px;
}
.section-content__order .order__payment .payment__card .card__icons img:nth-child(2) {
  width: 36px;
  height: 29px;
}
.section-content__order .order__payment .payment__card .card__icons img:nth-child(3) {
  width: 62px;
  height: 18px;
}
.section-content__order .order__payment .payment__account {
  height: 125px;
  border: 1px solid #f4f7fa;
  background-color: #f4f7fa;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 28px;
  margin-bottom: 20px;
  cursor: pointer;
}
.section-content__order .order__payment .payment__account .account__title-block .title-block__title {
  font-size: 16px;
  margin-bottom: 8px;
}
.section-content__order .order__payment .payment__account .account__title-block .title-block__subtitle {
  font-size: 13px;
  color: #9f9f9f;
  max-width: 250px;
}
.section-content__order .order__payment .payment__account .account__img {
  width: 70px;
  height: 70px;
}
.section-content__order .order__payment .payment__account .account__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.section-content__order .order__payment .payment_active {
  background-color: #e8edf2;
  border: 1px solid #0f2945;
}
.section-content__order .order__payment .payment__btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #0c1e34;
  padding: 19px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
  margin-bottom: 16px;
}
.section-content__order .order__payment .payment__input {
  display: flex;
  align-items: flex-start;
}
.section-content__order .order__payment .payment__input .payment__confirm {
  font-size: 13px;
  color: #9f9f9f;
  position: relative;
  margin-left: 26px;
}
.section-content__order .order__payment .payment__input .payment__confirm a {
  text-decoration: underline;
}
.section-content__order .order__payment .payment__input input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.section-content__order .order__payment .payment__input .custom-checkbox + label::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #0f2945;
  border-radius: 4px;
  margin-left: -26px;
}
.section-content__order .order__payment .payment__input .custom-checkbox:checked + label::before {
  background-image: url("../img/icons/card/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.section-content__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.section-content__order {
  max-width: 500px;
  width: 100%;
}
.section-content__order .order__product {
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  background-color: #f4f7fa;
}
.section-content__order .order__product .product__header {
  padding: 21px 25px;
  display: flex;
  justify-content: space-between;
  color: #0f2945;
  text-transform: uppercase;
}
.section-content__order .order__product .product__header .product__title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.03em;
}
.section-content__order .order__product .product__header .product__status {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.03em;
  background: linear-gradient(267.17deg, #27f3b5 -52.96%, #0f2945 100%);
  color: #fff;
  border-radius: 1000px;
  padding: 6px 20px;
}
.section-content__order .order__product .product__body {
  padding: 27px 27px 36px 25px;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}
.section-content__order .order__product .product__body .product__name {
  font-size: 16px;
  font-weight: 500;
  color: #9f9f9f;
  margin-bottom: 51px;
}
.section-content__order .order__product .product__body .product__subt {
  color: #0f2945;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 12px;
}
.section-content__order .order__product .product__body .product__subt::before {
  content: "...................................................................................";
  /* Выводим линию */
  width: 100%;
  overflow-x: hidden;
  order: 2;
  /* Выводим вторым */
  margin: 0 10px 0 5px;
  color: #e7e7e7;
}
.section-content__order .order__product .product__body .product__subt .subt__count {
  order: 3;
}
.section-content__order .order__product .product__body .product__year-cost {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 11px;
  margin-top: 12px;
}
.section-content__order .order__product .product__body .product__year-cost span {
  font-size: 26px;
}
.section-content__order .order__product .product__body .product__item-cost {
  font-weight: 600;
  font-size: 20px;
}
.section-content__order .order__payment .payment__title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
.section-content__order .order__payment .payment__card {
  background-color: #f4f7fa;
  border: 1px solid #f4f7fa;
  border-radius: 4px;
  height: 125px;
  padding-left: 30px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}
.section-content__order .order__payment .payment__card .card__icons {
  display: flex;
  gap: 18px;
  align-items: center;
}
.section-content__order .order__payment .payment__account {
  height: 125px;
  border: 1px solid #f4f7fa;
  background-color: #f4f7fa;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 28px;
  margin-bottom: 20px;
  cursor: pointer;
}
.section-content__order .order__payment .payment__account .account__title-block .title-block__title {
  font-size: 16px;
  margin-bottom: 8px;
}
.section-content__order .order__payment .payment__account .account__title-block .title-block__subtitle {
  font-size: 13px;
  color: #9f9f9f;
  max-width: 250px;
}
.section-content__order .order__payment .payment__account .account__img {
  width: 70px;
  height: 70px;
}
.section-content__order .order__payment .payment__account .account__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.section-content__order .order__payment .payment_active {
  background-color: #e8edf2;
  border: 1px solid #0f2945;
}
.section-content__order .order__payment .payment__btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #0c1e34;
  padding: 19px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
  margin-bottom: 16px;
}
.section-content__order .order__payment .payment__input {
  display: flex;
  align-items: flex-start;
}
.section-content__order .order__payment .payment__input .payment__confirm {
  font-size: 13px;
  color: #9f9f9f;
  position: relative;
  margin-left: 26px;
}
.section-content__order .order__payment .payment__input .payment__confirm a {
  text-decoration: underline;
}
.section-content__order .order__payment .payment__input input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.section-content__order .order__payment .payment__input .custom-checkbox + label::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #0f2945;
  border-radius: 4px;
  margin-left: -26px;
}
.section-content__order .order__payment .payment__input .custom-checkbox:checked + label::before {
  background-image: url("../img/icons/card/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}
