html {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.account-main {
  // min-height: 100%;
  // height: 100%;
  flex: 1 1 auto;
}

.account__container {
  //   max-width: 1920px;
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

//==================================== хедер
.account__header {
  background-color: $primaryblue;
  display: block;
  min-height: 80px;
  z-index: 100;
  .header__content {
    // height: 100%;
    display: flex;
    align-items: center;
    width: 100%;

    .header__logo {
      width: 180px;
      height: 45px;

      margin-right: 109px;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .header__info-panel {
      border-top: 1px solid #fff;
      position: absolute;
      top: 80px;
      right: 0;
      height: 100vh;
      z-index: -1;
      left: -1000px;
      background-color: $primaryblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      //   justify-content: space-between;
      justify-content: flex-start;
      width: 100%;

      //==================== статистика
      .infop-panel__statistics {
        margin-top: 20px;
        margin-bottom: 20px;
        .statistics__title {
          color: $white;
          // font-size: 18px;
          font-weight: 500;
        }

        .statistics__count {
          color: $akva;
          font-weight: 600;
          font-size: 20px;
        }

        .row1 {
          display: flex;
          // flex-direction: row;
          flex-direction: column;
          align-items: center;
          margin-top: 80px;
          .statistics__tasks {
            // margin-right: 41px;
            margin-right: 0;
            font-size: 18px;
            .tasks__title {
              font-size: 18px;
              margin-right: 20px;
            }
          }
          .statistics__meeting {
            // display: none;
            position: absolute;
            top: 370px;
            left: 50;
            font-size: 18px;
            .meeting__title {
              margin-right: 20px;
            }
          }
        }

        .row2 {
          .statistics__day-end {
            font-size: 16px;
            .day-end__title {
              font-weight: 400;
              font-size: 14px;
              margin-right: 12px;
            }
            .day-end__count {
              font-size: 16px;
            }
          }
        }
      }

      //====================== инфо аккаунта
      .info-panel__account-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;

        .account-info__link {
          //   margin-right: 63px;
          margin-right: 0;
          margin-bottom: 30px;
          color: $white;
          font-size: 18px;
          font-weight: 500;
          position: relative;
          &::after {
            display: inline-block;
            margin-left: 11px;
            transform: translateY(2px);
            content: "";
            width: 18px;
            height: 18px;
            background-image: url("../img/icons/back-app-link.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px 18px;
          }
        }

        .account-info__notice-container {
          position: absolute;
          top: -50px;
          right: 100px;
          left: calc(1000px + (100vw - 100px));
          margin-bottom: 20px;
          // z-index: 1000;

          &:hover .notice__container {
            display: block;
          }
          .account-info__notice {
            display: block;
            width: 22px;
            height: 22px;
            // margin-right: 71px;
            margin-right: 0;
            position: relative;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
            .notice-count {
              display: inline-block;
              height: 18px;
              min-width: 18px;
              padding-left: 2px;
              padding-right: 2px;
              background-color: $akva;
              text-align: center;
              font-weight: 500;
              font-size: 14px;
              border-radius: 15px;

              position: absolute;
              top: -9px;
              left: 13px;
            }
          }
          .notice__container {
            display: none;
            // display: block;

            position: absolute;
            top: 20px;
            left: -230px;
            // left: calc(1000px + (100vw - 100px));
            min-width: 312px;
            width: 100%;
            padding: 20px 25px 27px;
            color: rgba(255, 255, 255, 0.9);
            background: #17304a;
            border-radius: 10px;
            z-index: 20;
            .notice__title {
              font-size: 13px;
              font-weight: 600;
              margin-bottom: 17px;
            }
            .notice__list {
              height: 170px;
              overflow: hidden;
              margin-bottom: 22px;
              .list__item {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;

                .item__content {
                  font-size: 13px;
                  max-width: 169px;
                  margin-bottom: 17px;
                  max-height: 51px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                }
                .item__data {
                  font-size: 12px;
                  color: #808a96;
                }
              }
            }

            .notice__link-show {
              font-size: 13px;
              font-weight: 600;
              color: $akva;
            }
          }
        }

        .account-info__user {
          display: flex;
          align-items: center;
          //   margin-right: 60px;
          margin-right: 0;
          // margin-bottom: 20px;
          margin-bottom: 0;
          position: absolute;
          top: 230px;
          right: 50;
          .user__avatar {
            width: 34px;
            height: 34px;
            margin-right: 11px;
            img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: #33475d;
            }
          }
          .user__name {
            font-size: 14px;
            color: $white;
          }
        }
        .account-info__logout-btn {
          display: inline-block;
          width: 120px;
          padding: 10px;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          color: rgba($color: $white, $alpha: 0.8);
          border: 1px solid rgba($color: $white, $alpha: 0.3);
          border-radius: 2px;
          margin-bottom: 20px;
        }
      }
    }

    .header-sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      color: #fff;
      width: 100%;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;

      a {
        width: 100%;
        font-size: 16px;
        margin-top: 15px;
        text-align: center;
        &:last-child {
          margin-bottom: 15px;
        }
      }
      .active {
        font-weight: 600;
        color: $akva;
      }
    }
  }
}

// ======================================== сайдбар
.account-sidebar {
  display: none;
  width: 290px;
  min-height: 100%;
  background-color: $lightgrey;
  box-shadow: -40px 0 $lightgrey;
  padding-top: 38px;

  color: $primaryblue;

  .account-sidebar__menu {
    a {
      font-size: 16px;
      line-height: 1.3;
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      white-space: nowrap;

      &::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 20px;
        border-radius: 100px 0px 0px 100px;
        background-color: $primaryblue;
        margin-right: 0;
        margin-left: auto;
        opacity: 0;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 20px;
        background-size: 15px auto;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 14px;
      }
      &:nth-child(1)::before {
        background-image: url("../img/icons/sidebar/main.svg");
      }
      &:nth-child(2)::before {
        background-image: url("../img/icons/sidebar/calc.svg");
      }
      &:nth-child(3)::before {
        background-image: url("../img/icons/sidebar/meeting.svg");
        width: 20px;
        height: 24px;
        margin-right: 8px;
        // background-size: auto;
        background-size: 20px 24px;
      }
      &:nth-child(4)::before {
        background-image: url("../img/icons/sidebar/products.svg");
      }
      &:nth-child(5)::before {
        background-image: url("../img/icons/sidebar/history.svg");
      }
      &:hover {
        font-weight: 600;
      }
    }
    .active {
      font-weight: 600;
      &::after {
        opacity: 1;
      }
    }
  }
}

//==================================== основной контент
.account-main__section-content {
  padding-top: 10px;
  padding-left: 0;
  color: $primaryetxt;
  width: 100%;
  padding-bottom: 300px;

  .section-content__title {
    // font-size: 34px;
    font-size: 24px;
    font-weight: 600;
  }
  .section-content__subtitle {
    font-size: 16px;
  }
}

.account-main__hepl {
  .help__img {
    width: 80px;
    height: 80px;
    // width: 50px;
    // height: 50px;
    border-radius: 50%;
    background-color: $akva;
    padding: 22px;
    // padding: 12px;
    cursor: pointer;

    // position: absolute;
    // top: 80%;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 10;
    transform: translateX(0px);
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

//================================== бургер
.hamburger {
  display: block;
  right: 10px;
}

.header__info-panel {
  display: block;
  right: 0;
  height: 100vh;
  z-index: -1;

  left: -1000px;
}

#menu-toggler:checked ~ .header__info-panel {
  top: 80px;
  left: 0;
  z-index: 1;
  transition: left 0.3s, background-color 0.3s;

  .info-panel__account-info {
    .account-info__notice-container {
      left: calc(100vw - 100px);
      z-index: 1000;
    }
  }
}
