@media (max-width: 1024px) {
@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans.eot");
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../fonts/IBMPlexSans.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans.woff") format("woff"), url("../fonts/IBMPlexSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Medium.eot");
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), url("../fonts/IBMPlexSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-Medium.woff") format("woff"), url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("IBMPlexSans-SemiBold.eot");
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url("../fonts/IBMPlexSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBMPlexSans-SemiBold.woff") format("woff"), url("../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
html {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.account-main {
  flex: 1 1 auto;
}

.account__container {
  max-width: none;
  padding-left: 2.77778vw;
  padding-right: 2.77778vw;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.account__header {
  background-color: #0f2945;
  display: block;
  min-height: 22.22222vw;
  z-index: 100;
}
.account__header .header__content {
  display: flex;
  align-items: center;
  width: 100%;
}
.account__header .header__content .header__logo {
  width: 50vw;
  height: 12.5vw;
  margin-right: 30.27778vw;
}
.account__header .header__content .header__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.account__header .header__content .header__info-panel {
  border-top: 1px solid #fff;
  position: absolute;
  top: 22.22222vw;
  right: 0;
  height: 100vh;
  z-index: -1;
  left: -277.77778vw;
  background-color: #0f2945;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.account__header .header__content .header__info-panel .infop-panel__statistics {
  margin-top: 5.55556vw;
  margin-bottom: 5.55556vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .statistics__title {
  color: #fff;
  font-weight: 500;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .statistics__count {
  color: #27f3b5;
  font-weight: 600;
  font-size: 5.55556vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22.22222vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 .statistics__tasks {
  margin-right: 0;
  font-size: 5vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 .statistics__tasks .tasks__title {
  font-size: 5vw;
  margin-right: 5.55556vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 .statistics__meeting {
  position: absolute;
  top: 102.77778vw;
  left: 50;
  font-size: 5vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row1 .statistics__meeting .meeting__title {
  margin-right: 5.55556vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row2 .statistics__day-end {
  font-size: 4.44444vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row2 .statistics__day-end .day-end__title {
  font-weight: 400;
  font-size: 3.88889vw;
  margin-right: 3.33333vw;
}
.account__header .header__content .header__info-panel .infop-panel__statistics .row2 .statistics__day-end .day-end__count {
  font-size: 4.44444vw;
}
.account__header .header__content .header__info-panel .info-panel__account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 22.22222vw;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__link {
  margin-right: 0;
  margin-bottom: 8.33333vw;
  color: #fff;
  font-size: 5vw;
  font-weight: 500;
  position: relative;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__link::after {
  display: inline-block;
  margin-left: 3.05556vw;
  transform: translateY(2px);
  content: "";
  width: 5vw;
  height: 5vw;
  background-image: url("../img/icons/back-app-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5vw 5vw;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container {
  position: absolute;
  top: -13.88889vw;
  right: 27.77778vw;
  left: calc(277.77778vw + (100vw - 27.77778vw));
  margin-bottom: 5.55556vw;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container:hover .notice__container {
  display: block;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .account-info__notice {
  display: block;
  width: 6.11111vw;
  height: 6.11111vw;
  margin-right: 0;
  position: relative;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .account-info__notice img {
  display: block;
  width: 100%;
  height: 100%;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .account-info__notice .notice-count {
  display: inline-block;
  height: 5vw;
  min-width: 5vw;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #27f3b5;
  text-align: center;
  font-weight: 500;
  font-size: 3.88889vw;
  border-radius: 4.16667vw;
  position: absolute;
  top: -2.5vw;
  left: 3.61111vw;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container {
  display: none;
  position: absolute;
  top: 5.55556vw;
  left: -63.88889vw;
  min-width: 86.66667vw;
  width: 100%;
  padding: 5.55556vw 6.94444vw 7.5vw;
  color: rgba(255, 255, 255, 0.9);
  background: #17304a;
  border-radius: 2.77778vw;
  z-index: 20;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__title {
  font-size: 3.61111vw;
  font-weight: 600;
  margin-bottom: 4.72222vw;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__list {
  height: 47.22222vw;
  overflow: hidden;
  margin-bottom: 6.11111vw;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__list .list__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__list .list__item .item__content {
  font-size: 3.61111vw;
  max-width: 46.94444vw;
  margin-bottom: 4.72222vw;
  max-height: 14.16667vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__list .list__item .item__data {
  font-size: 3.33333vw;
  color: #808a96;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__notice-container .notice__container .notice__link-show {
  font-size: 3.61111vw;
  font-weight: 600;
  color: #27f3b5;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__user {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top: 63.88889vw;
  right: 50;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__user .user__avatar {
  width: 9.44444vw;
  height: 9.44444vw;
  margin-right: 3.05556vw;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__user .user__avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #33475d;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__user .user__name {
  font-size: 3.88889vw;
  color: #fff;
}
.account__header .header__content .header__info-panel .info-panel__account-info .account-info__logout-btn {
  display: inline-block;
  width: 33.33333vw;
  padding: 2.77778vw;
  font-weight: 600;
  font-size: 3.88889vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  margin-bottom: 5.55556vw;
}
.account__header .header__content .header-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.account__header .header__content .header-sidebar a {
  width: 100%;
  font-size: 4.44444vw;
  margin-top: 4.16667vw;
  text-align: center;
}
.account__header .header__content .header-sidebar a:last-child {
  margin-bottom: 4.16667vw;
}
.account__header .header__content .header-sidebar .active {
  font-weight: 600;
  color: #27f3b5;
}

.account-sidebar {
  display: none;
  width: 80.55556vw;
  min-height: 100%;
  background-color: #f4f7fa;
  box-shadow: -11.11111vw 0 #f4f7fa;
  padding-top: 10.55556vw;
  color: #0f2945;
}
.account-sidebar .account-sidebar__menu a {
  font-size: 4.44444vw;
  line-height: 1.3;
  display: flex;
  align-items: center;
  margin-bottom: 8.88889vw;
  white-space: nowrap;
}
.account-sidebar .account-sidebar__menu a::after {
  content: "";
  display: inline-block;
  width: 1.66667vw;
  height: 5.55556vw;
  border-radius: 27.77778vw 0px 0px 27.77778vw;
  background-color: #0f2945;
  margin-right: 0;
  margin-left: auto;
  opacity: 0;
}
.account-sidebar .account-sidebar__menu a::before {
  content: "";
  display: inline-block;
  width: 4.16667vw;
  height: 5.55556vw;
  background-size: 4.16667vw auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3.88889vw;
}
.account-sidebar .account-sidebar__menu a:nth-child(1)::before {
  background-image: url("../img/icons/sidebar/main.svg");
}
.account-sidebar .account-sidebar__menu a:nth-child(2)::before {
  background-image: url("../img/icons/sidebar/calc.svg");
}
.account-sidebar .account-sidebar__menu a:nth-child(3)::before {
  background-image: url("../img/icons/sidebar/meeting.svg");
  width: 5.55556vw;
  height: 6.66667vw;
  margin-right: 2.22222vw;
  background-size: 5.55556vw 6.66667vw;
}
.account-sidebar .account-sidebar__menu a:nth-child(4)::before {
  background-image: url("../img/icons/sidebar/products.svg");
}
.account-sidebar .account-sidebar__menu a:nth-child(5)::before {
  background-image: url("../img/icons/sidebar/history.svg");
}
.account-sidebar .account-sidebar__menu a:hover {
  font-weight: 600;
}
.account-sidebar .account-sidebar__menu .active {
  font-weight: 600;
}
.account-sidebar .account-sidebar__menu .active::after {
  opacity: 1;
}

.account-main__section-content {
  padding-top: 2.77778vw;
  padding-left: 0;
  color: #1e2733;
  width: 100%;
  padding-bottom: 83.33333vw;
}
.account-main__section-content .section-content__title {
  font-size: 6.66667vw;
  font-weight: 600;
}
.account-main__section-content .section-content__subtitle {
  font-size: 4.44444vw;
}

.account-main__hepl .help__img {
  width: 22.22222vw;
  height: 22.22222vw;
  border-radius: 50%;
  background-color: #27f3b5;
  padding: 6.11111vw;
  cursor: pointer;
  position: fixed;
  bottom: 8.33333vw;
  right: 4.16667vw;
  z-index: 10;
  transform: translateX(0px);
}
.account-main__hepl .help__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.hamburger {
  display: block;
  right: 2.77778vw;
}

.header__info-panel {
  display: block;
  right: 0;
  height: 100vh;
  z-index: -1;
  left: -277.77778vw;
}

#menu-toggler:checked ~ .header__info-panel {
  top: 22.22222vw;
  left: 0;
  z-index: 1;
  transition: left 0.3s, background-color 0.3s;
}
#menu-toggler:checked ~ .header__info-panel .info-panel__account-info .account-info__notice-container {
  left: calc(100vw - 27.77778vw);
  z-index: 1000;
}

.account__start {
  flex: 1 1 100%;
  background: linear-gradient(253.06deg, #153b63 -33.73%, #091525 106.5%);
  position: relative;
}
.account__start::after {
  position: absolute;
  content: "";
  box-shadow: 0 0 69.44444vw 69.44444vw #27f3b5, 2.77778vw 2.77778vw 97.22222vw 97.22222vw #27aaf3;
  opacity: 0.5;
  top: -5.55556vw;
  left: 0;
}
.account__start::before {
  position: absolute;
  content: "";
  box-shadow: -27.77778vw -83.33333vw 55.55556vw 55.55556vw #27aaf3;
  opacity: 0.2;
  bottom: 0;
  right: 0;
}
.account__start .account__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.account__start .start__start-form {
  position: relative;
  z-index: 100;
  background: linear-gradient(288.01deg, rgba(13, 35, 60, 0.8) -1.44%, #0d233c 99.35%);
  -webkit-backdrop-filter: blur(55.55556vw);
          backdrop-filter: blur(55.55556vw);
  border-radius: 2.22222vw;
  max-width: none;
  width: 100%;
  margin-top: 8.33333vw;
}
.account__start .start__start-form .start-form__title {
  font-size: 6.66667vw;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.account__start .start__start-form .start-form__input-container {
  font-size: 4.44444vw;
  height: 17.77778vw;
}
.account__start .start__start-form .start-form__input-container input {
  background-color: #0c1e34;
  color: #a1c1d7;
  width: 100%;
  height: 100%;
  padding-left: 6.38889vw;
  border-radius: 2.22222vw;
  border: 1px solid rgba(147, 160, 180, 0.3);
}
.account__start .start__start-form .start-form__input-container input::-moz-placeholder {
  color: #a1c1d7;
}
.account__start .start__start-form .start-form__input-container input::placeholder {
  color: #a1c1d7;
}
.account__start .start__start-form .start-form__subtitle {
  color: #fff;
}
.account__start .start__start-form .start-form__button-container {
  height: 17.77778vw;
  color: #0c1e34;
  font-size: 4.44444vw;
}
.account__start .start__start-form .start-form__button-container button {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.account__start .start__start-form .start-form__button-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.account__start .start__start-form .start-form__link {
  font-size: 4.44444vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.6;
  color: #27f3b5;
  display: block;
  text-align: center;
}
.account__start .start__authorization-form {
  padding: 8.33333vw 8.33333vw 8.33333vw;
}
.account__start .start__authorization-form .authorization-form__title {
  margin-bottom: 8.33333vw;
}
.account__start .start__authorization-form .authorization-form__tel {
  margin-bottom: 4.44444vw;
}
.account__start .start__authorization-form .authorization-form__pass {
  margin-bottom: 3.33333vw;
  position: relative;
}
.account__start .start__authorization-form .authorization-form__pass img {
  width: 6.66667vw;
  height: 6.66667vw;
  position: absolute;
  top: 5.55556vw;
  right: 5.55556vw;
  cursor: pointer;
}
.account__start .start__authorization-form .authorization-form__pass-subtitle {
  font-size: 4.44444vw;
  line-height: 177%;
  margin-bottom: 4.44444vw;
}
.account__start .start__authorization-form .authorization-form__pass-subtitle a {
  border-bottom: 1px solid #fff;
}
.account__start .start__authorization-form .authorization-form__login-btn {
  margin-bottom: 5.55556vw;
}
.account__start .start__registration-form {
  padding: 8.33333vw 8.33333vw;
}
.account__start .start__registration-form .registration-form__title {
  margin-bottom: 8.33333vw;
}
.account__start .start__registration-form .registration-form__name,
.account__start .start__registration-form .registration-form__surname,
.account__start .start__registration-form .registration-form__patronymic,
.account__start .start__registration-form .registration-form__email,
.account__start .start__registration-form .registration-form__telnumber,
.account__start .start__registration-form .registration-form__pass {
  margin-bottom: 4.44444vw;
}
.account__start .start__registration-form .registration-form__pass {
  position: relative;
}
.account__start .start__registration-form .registration-form__pass img {
  width: 6.66667vw;
  height: 6.66667vw;
  position: absolute;
  top: 5.55556vw;
  right: 5.55556vw;
  cursor: pointer;
}
.account__start .start__registration-form .registration-form__subtitle {
  font-size: 3.88889vw;
  line-height: 1.3;
  margin-bottom: 5.55556vw;
}
.account__start .start__registration-form .registration-form__reg-btn {
  margin-bottom: 5.55556vw;
}

.start__login-form {
  padding: 8.33333vw 8.33333vw 8.33333vw;
}
.start__login-form .login-form__title {
  margin-bottom: 11.38889vw;
}
.start__login-form .login-form__message {
  font-size: 4.44444vw;
  line-height: 1.6;
  color: #a1c1d7;
  text-align: center;
  margin-bottom: 7.5vw;
}
.start__login-form .login-form__message .message__number {
  display: inline-block;
  margin-top: 1.66667vw;
  margin-bottom: 1.94444vw;
  font-size: 5vw;
  font-weight: 600;
  color: #fff;
}
.start__login-form .login-form__code {
  margin-bottom: 10vw;
}
.start__login-form .login-form__login-btn {
  margin-bottom: 5.55556vw;
}

.section-content__products-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5.55556vw;
}
.section-content__products-list .products__item {
  max-width: 102.5vw;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 3.33333vw;
  background-color: #f4f7fa;
  color: #0f2945;
  margin-right: 0;
  margin-bottom: 5.55556vw;
  display: flex;
  flex-direction: column;
}
.section-content__products-list .products__item .item__header {
  display: flex;
  justify-content: space-between;
  padding: 5.83333vw 6.66667vw;
}
.section-content__products-list .products__item .item__header .item__title {
  text-transform: uppercase;
  font-size: 5.55556vw;
  font-weight: 600;
  letter-spacing: 0.03em;
}
.section-content__products-list .products__item .item__header .item__status {
  width: 27.77778vw;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.33333vw;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 1.94444vw;
  background-color: #e8edf2;
  color: #0f2945;
  border-radius: 277.77778vw;
}
.section-content__products-list .products__item .item__header .item__status-green {
  background: linear-gradient(267.17deg, #27f3b5 -52.96%, #0f2945 100%);
  color: #fff;
}
.section-content__products-list .products__item .item__content-list {
  padding: 8.33333vw 6.66667vw 12.22222vw;
  background-color: #fff;
  border-radius: 0 0 3.33333vw 3.33333vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
}
.section-content__products-list .products__item .item__content-list .content-list__item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 4.44444vw;
  font-weight: 500;
  margin-bottom: 5.83333vw;
}
.section-content__products-list .products__item .item__content-list .content-list__item:last-child {
  margin-bottom: 0;
}
.section-content__products-list .products__item .item__content-list .content-list__item::before {
  content: "...................................................................................";
  /* Выводим линию */
  width: 100%;
  overflow-x: hidden;
  order: 2;
  /* Выводим вторым */
  margin: 0 2.77778vw 0 1.38889vw;
  color: #e7e7e7;
}
.section-content__products-list .products__item .item__content-list .content-list__item .item__count {
  order: 3;
}

.section-content__products-no {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25.83333vw;
  padding-bottom: 45.27778vw;
  background-color: #f4f7fa;
  border-radius: 1.11111vw;
  margin-top: 5.55556vw;
}
.section-content__products-no .products-no__img {
  max-width: none;
  width: 41.66667vw;
  max-height: none;
  height: 48.61111vw;
}
.section-content__products-no .products-no__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-content__products-no .products-no__subtitle {
  max-width: 113.88889vw;
  text-align: center;
  margin-top: 8.61111vw;
  margin-bottom: 8.61111vw;
  font-size: 4.44444vw;
  color: #0f2945;
}
.section-content__products-no .products-no__btn {
  display: inline-block;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
  max-width: 118.88889vw;
  width: 100%;
  padding: 4.16667vw 0;
  color: #0c1e34;
  font-size: 3.88889vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
}

.section-content__subtitle {
  margin-top: 4.44444vw;
  margin-bottom: 6.66667vw;
  font-size: 4.44444vw;
}

.section-content__product-calc {
  padding-top: 10vw;
  padding-left: 1.38889vw;
  padding-right: 1.38889vw;
  padding-bottom: 14.44444vw;
  background-color: #f4f7fa;
  border-radius: 1.11111vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8.33333vw;
}
.section-content__product-calc .product-calc__settings-block {
  max-width: 138.88889vw;
  width: 100%;
}
.section-content__product-calc .product-calc__settings-block .settings-block__title {
  font-size: 4.44444vw;
  font-weight: 600;
  margin-bottom: 6.66667vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item {
  background-color: #e8edf2;
  border-radius: 4.44444vw;
  padding: 6.94444vw;
  margin-bottom: 3.33333vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item:last-child {
  margin-bottom: 0;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header {
  display: flex;
  align-items: center;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch {
  position: relative;
  display: inline-block;
  min-width: 11.11111vw;
  height: 6.66667vw;
  margin-right: 7.77778vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch input {
  display: none;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch .sliderck {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8edf2;
  transition: 0.4s;
  border-radius: 10vw;
  border: 2px solid #c0c6cc;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch .sliderck::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  display: block;
  height: 5.55556vw;
  width: 5.55556vw;
  background-color: #acb2b9;
  transition: 0.4s;
  border-radius: 50%;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch input:checked + .sliderck {
  background-color: #0f2945;
  border: 2px solid #636a74;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch input:checked + .sliderck::before {
  background-color: #27f3b5;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .switch input:checked + .sliderck:before {
  transform: translateX(4.44444vw);
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .item__header-title {
  font-size: 3.61111vw;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 500;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .item__header-arrow {
  margin-left: auto;
  transition: transform 0.4s;
  width: 4.72222vw;
  height: 2.5vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header .item__header-arrow_transform {
  transform: rotate(180deg);
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api {
  position: relative;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api:hover .header-api-msg {
  display: block;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg {
  display: none;
  position: absolute;
  top: 6.94444vw;
  right: 0;
  z-index: 10;
  max-width: 107.77778vw;
  width: 100%;
  padding: 7.5vw 8.61111vw 10.83333vw;
  background-color: #fff;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__title {
  font-weight: 500;
  font-size: 4.44444vw;
  margin-bottom: 5vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.27778vw;
  color: #0f2945;
  font-weight: 600;
  font-size: 3.88889vw;
  letter-spacing: 0.05em;
  border-radius: 2px;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__call {
  background-color: #27f3b5;
  margin-bottom: 4.44444vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__call::before {
  display: inline-block;
  content: "";
  width: 5vw;
  height: 5vw;
  background-image: url("../img/icons/call.svg");
  background-size: 5vw 5vw;
  background-repeat: no-repeat;
  margin-right: 3.33333vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__mail {
  border: 1px solid rgba(15, 41, 69, 0.3);
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__header-api .header-api-msg .header-api-msg__mail::before {
  display: inline-block;
  content: "";
  width: 4.16667vw;
  height: 3.33333vw;
  background-image: url("../img/icons/mail.svg");
  background-size: 4.16667vw 3.33333vw;
  background-repeat: no-repeat;
  margin-right: 3.33333vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body {
  display: none;
  margin-top: 5.27778vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__title {
  font-size: 3.88889vw;
  color: #636a74;
  margin-bottom: 3.88889vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__select-block {
  border: 1px solid rgba(147, 160, 180, 0.3);
  border-radius: 2.22222vw 2.22222vw 0px 0px;
  border-bottom: none;
  padding: 2.22222vw 4.44444vw 0;
  margin-bottom: 2.22222vw;
  height: 17.77778vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__select-block .select-block__subtitle {
  font-size: 3.33333vw;
  color: #636a74;
  line-height: 1.8;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__select-block .select-block__count {
  font-size: 4.44444vw;
  font-weight: 500;
  line-height: 1.8;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__slidecontainer {
  width: 108%;
  margin-left: -4.72222vw;
  transform: translateY(1.38889vw);
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__slidecontainer .slider {
  display: block;
  width: 100%;
  height: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #636a74;
  outline: none;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #0f2945;
  height: 4.16667vw;
  width: 4.16667vw;
  border-radius: 50%;
  background: #27f3b5;
  cursor: pointer;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__slidecontainer .slider::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid #0f2945;
  height: 4.16667vw;
  width: 4.16667vw;
  border-radius: 50%;
  background: #27f3b5;
  cursor: pointer;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__select-block-range {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 3.33333vw;
  color: #636a74;
  line-height: 1.8;
  margin-bottom: 2.22222vw;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__price {
  line-height: 1.8;
  font-size: 3.88889vw;
  font-weight: 500;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body .body__price .body__price-value {
  font-weight: 700;
}
.section-content__product-calc .product-calc__settings-block .settings-block__content .content__list .content__item .item__body_active {
  display: block;
}
.section-content__product-calc .product-calc__buy-block {
  max-width: 139.44444vw;
  width: 100%;
  padding-top: 20.83333vw;
}
.section-content__product-calc .product-calc__buy-block .buy-block__img {
  width: 33.88889vw;
  margin: 0 auto;
}
.section-content__product-calc .product-calc__buy-block .buy-block__img img {
  display: block;
  filter: drop-shadow(0px 13.88889vw 41.66667vw #27f3b5);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-content__product-calc .product-calc__buy-block .buy-block__price {
  width: 100%;
  padding: 6.38889vw 6.11111vw 7.5vw 6.11111vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8edf2;
  border-radius: 1.11111vw;
  transform: translateY(-2.77778vw);
}
.section-content__product-calc .product-calc__buy-block .buy-block__price .price__title {
  font-size: 4.44444vw;
  font-weight: 500;
}
.section-content__product-calc .product-calc__buy-block .buy-block__price .price__value {
  font-weight: 600;
  font-size: 8.33333vw;
}
.section-content__product-calc .product-calc__buy-block .buy-block__price .price__value span {
  font-size: 5.55556vw;
}
.section-content__product-calc .product-calc__buy-block .buy-block__btns {
  font-size: 3.88889vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
  display: flex;
  gap: 5vw;
}
.section-content__product-calc .product-calc__buy-block .buy-block__btns .btns__buy {
  color: #0c1e34;
  display: inline-block;
  width: 100%;
  padding-top: 4.72222vw;
  padding-bottom: 4.72222vw;
  padding-left: 2.77778vw;
  padding-right: 2.77778vw;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
}
.section-content__product-calc .product-calc__buy-block .buy-block__btns .btns__download {
  color: #0f2945;
  display: inline-block;
  width: 100%;
  padding-top: 4.72222vw;
  padding-bottom: 4.72222vw;
  padding-left: 2.77778vw;
  padding-right: 2.77778vw;
  border: 1px solid rgba(15, 41, 69, 0.3);
  border-radius: 2px;
}
.section-content__product-calc .product-calc__buy-block .buy-block__btns .btns__download::before {
  display: inline-block;
  width: 3.33333vw;
  height: 4.16667vw;
  margin-right: 4.16667vw;
  content: "";
  background-image: url("../img/icons/download.svg");
  background-size: 3.33333vw 4.16667vw;
  background-position-y: center;
  background-repeat: no-repeat;
  transform: translateY(0.83333vw);
}

.section-content__deals {
  display: flex;
  flex-direction: column;
  gap: 8.88889vw;
  margin-top: 8.88889vw;
}
.section-content__deals .deals__deal-item {
  max-width: 138.88889vw;
  width: 100%;
  padding: 10vw 9.16667vw 13.88889vw 10.27778vw;
  border: 1px solid #e7e7e7;
  border-radius: 3.33333vw 13.88889vw 3.33333vw 3.33333vw;
}
.section-content__deals .deals__deal-item .deal-item__title {
  border-radius: 277.77778vw;
  display: inline-block;
  padding: 3.61111vw;
  width: 50vw;
  text-align: center;
  font-weight: 600;
  font-size: 5.55556vw;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  background-color: #f4f7fa;
  margin-bottom: 9.16667vw;
}
.section-content__deals .deals__deal-item .deal-item__title span {
  background: linear-gradient(269.36deg, #27f3b5 0.12%, #0a4b96 99.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section-content__deals .deals__deal-item .deal-item__year-cost {
  font-size: 7.22222vw;
  font-weight: 600;
  margin-bottom: 3.05556vw;
}
.section-content__deals .deals__deal-item .deal-item__year-cost span {
  font-size: 13.88889vw;
}
.section-content__deals .deals__deal-item .deal-item__deal-cost {
  font-weight: 600;
  font-size: 7.22222vw;
  margin-bottom: 15vw;
}
.section-content__deals .deals__deal-item .deal-item__desc {
  font-size: 4.44444vw;
  margin-bottom: 8.33333vw;
}
.section-content__deals .deals__deal-item .deal-item__desc p {
  font-size: 3.61111vw;
  color: #9f9f9f;
  margin-left: 7.77778vw;
}
.section-content__deals .deals__deal-item .deal-item__desc::before {
  content: "";
  display: inline-block;
  width: 3.33333vw;
  height: 3.33333vw;
  box-shadow: 0 0 1.38889vw #27f3b5;
  border-radius: 1.11111vw;
  background-color: #27f3b5;
  margin-right: 4.44444vw;
}
.section-content__deals .deals__deal-item .deal-item__desc:last-child {
  margin-bottom: 0;
}
.section-content__deals .deals__deal-item .deal-item__btn {
  display: inline-block;
  width: 100%;
  color: #0c1e34;
  padding: 5vw;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
  margin-top: 5.27778vw;
  text-align: center;
  font-size: 3.88889vw;
  font-weight: 600;
}
.section-content__deals .deals__deal-item-vip {
  color: white;
  background: linear-gradient(180.34deg, #153b63 -21.32%, #091525 102%), linear-gradient(180deg, #f4f7fa 0%, rgba(244, 247, 250, 0) 100%);
  position: relative;
  overflow: hidden;
}
.section-content__deals .deals__deal-item-vip::before {
  position: absolute;
  content: "";
  box-shadow: 8.33333vw 8.33333vw 27.77778vw 27.77778vw #27f3b5;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 0;
}
.section-content__deals .deals__deal-item-vip::after {
  content: "";
  display: inline-block;
  width: 8.61111vw;
  height: 5.55556vw;
  background-image: url("../img/icons/vip.svg");
  background-size: 8.61111vw 5.55556vw;
  background-repeat: no-repeat;
  position: absolute;
  top: 10vw;
  right: 9.16667vw;
}
.section-content__deals .deals__deal-item-vip .deal-item__title-vip {
  background: linear-gradient(267.17deg, #27f3b5 -52.96%, #0f2945 100%);
  color: #fff;
  z-index: 10;
  position: relative;
}

.section-content__info {
  margin-top: 9.44444vw;
  color: #9f9f9f;
  font-size: 4.44444vw;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 53, 83, 0.5);
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup .popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.77778vw;
}
.popup .popup__body .buy-prod {
  max-width: 175vw;
  width: 100%;
  padding: 6.94444vw;
  background: linear-gradient(288.01deg, rgba(13, 35, 60, 0.8) -1.44%, #0d233c 99.35%);
  -webkit-backdrop-filter: blur(55.55556vw);
          backdrop-filter: blur(55.55556vw);
  border-radius: 2.22222vw;
}
.popup .popup__body .buy-prod .buy-prod__title {
  color: #fff;
  font-weight: 500;
  font-size: 6.66667vw;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 2.77778vw;
}
.popup .popup__body .buy-prod .buy-prod___message {
  margin-bottom: 8.61111vw;
  font-size: 3.88889vw;
  text-align: center;
  color: #ffffff;
}
.popup .popup__body .buy-prod .start-form__input-container {
  font-size: 4.44444vw;
  height: 17.77778vw;
  margin-bottom: 4.44444vw;
}
.popup .popup__body .buy-prod .start-form__input-container input {
  background-color: #0c1e34;
  color: #a1c1d7;
  width: 100%;
  height: 100%;
  padding-left: 6.38889vw;
  border-radius: 2.22222vw;
  border: 1px solid rgba(147, 160, 180, 0.3);
}
.popup .popup__body .buy-prod .start-form__input-container input::-moz-placeholder {
  color: #a1c1d7;
}
.popup .popup__body .buy-prod .start-form__input-container input::placeholder {
  color: #a1c1d7;
}
.popup .popup__body .buy-prod .buy-prod__count {
  height: 17.77778vw;
  width: 100%;
  background-color: #273a50;
  font-weight: 600;
  font-size: 3.33333vw;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 6.66667vw;
}
.popup .popup__body .buy-prod .buy-prod__count span {
  display: inline-flex;
  align-items: center;
}
.popup .popup__body .buy-prod .buy-prod__count span::before {
  content: "";
  display: inline-block;
  width: 7.22222vw;
  height: 7.22222vw;
  background-image: url("../img/icons/bullit.svg");
  background-size: 7.22222vw 7.22222vw;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-right: 4.44444vw;
}
.popup .popup__body .buy-prod .start-form__button-container {
  height: 17.77778vw;
  color: #0c1e34;
  font-size: 4.44444vw;
  margin-top: 5.55556vw;
}
.popup .popup__body .buy-prod .start-form__button-container button {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.popup .popup__body .buy-prod .start-form__button-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  font-weight: 600;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.input-container {
  position: relative;
  display: inline-block;
  max-width: 117.77778vw;
  width: 100%;
}
.input-container .history-search-field {
  margin-top: 6.66667vw;
  margin-bottom: 8.33333vw;
  max-width: 117.77778vw;
  width: 100%;
  border: 1px solid #849eba;
  border-radius: 1.11111vw;
  height: 11.94444vw;
  padding-left: 4.44444vw;
  padding-right: 8.33333vw;
  color: #0f2945;
  font-size: 4.44444vw;
}
.input-container img {
  width: 3.88889vw;
  height: 3.88889vw;
  display: block;
  position: absolute;
  top: 11.11111vw;
  right: 4.16667vw;
  cursor: pointer;
}

.history-table-container {
  width: 100%;
  overflow-x: auto;
}
.history-table-container table {
  max-width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}
.history-table-container table tr {
  text-align: left;
  height: 10.83333vw;
}
.history-table-container table tr th {
  padding-left: 4.44444vw;
}
.history-table-container table tr th:nth-child(1) div {
  min-width: 33.33333vw;
}
.history-table-container table tr th:nth-child(2) {
  width: 100%;
  min-width: 83.33333vw;
}
.history-table-container table tr th:nth-child(3) div {
  min-width: 41.66667vw;
}
.history-table-container table tr th:nth-child(4) div {
  min-width: 41.66667vw;
}
.history-table-container table tr td {
  padding-left: 4.44444vw;
  color: #000;
  font-size: 3.88889vw;
  padding-top: 2.77778vw;
  padding-bottom: 2.77778vw;
}
.history-table-container table tr td:nth-child(2) {
  font-weight: 600;
  padding-right: 13.88889vw;
}
.history-table-container table tr:nth-child(1) {
  height: 12.5vw;
  text-transform: uppercase;
  font-size: 3.61111vw;
  letter-spacing: 0.045em;
  background-color: #f4f7fa;
}
.history-table-container table tr:nth-child(2n + 1) {
  background-color: #f4f7fa;
}

.notice-table {
  margin-top: 8.33333vw;
  width: 100%;
  overflow-x: auto;
}
.notice-table table {
  max-width: 100%;
  border-spacing: 0;
  font-size: 3.88889vw;
}
.notice-table table tr {
  height: 10.83333vw;
}
.notice-table table tr .item__title {
  color: #0f2945;
  padding-left: 4.44444vw;
  max-width: 138.88889vw;
  width: 100%;
  white-space: nowrap;
  padding-right: 8.33333vw;
}
.notice-table table tr .item__title::before {
  content: "";
  display: inline-block;
  width: 2.77778vw;
  height: 2.77778vw;
  background-color: #d6dde4;
  background-position-x: center;
  transform: translateY(0.83333vw);
  margin-right: 4.44444vw;
  border-radius: 50%;
  background-size: 2.77778vw 2.77778vw;
}
.notice-table table tr .item__title_active {
  font-weight: 600;
}
.notice-table table tr .item__title_active::before {
  background-color: #27f3b5;
}
.notice-table table tr .item__data {
  color: #000;
  padding-right: 4.44444vw;
  white-space: nowrap;
}
.notice-table table tr:nth-child(odd) {
  background-color: #f4f7fa;
}

.section-content__subtitle {
  margin-top: 5.55556vw;
  margin-bottom: 5.55556vw;
  font-size: 6.11111vw;
  font-weight: 600;
}

.section-content__order {
  max-width: 138.88889vw;
  width: 100%;
}
.section-content__order .order__product {
  border: 1px solid #e7e7e7;
  border-radius: 3.33333vw;
  background-color: #f4f7fa;
}
.section-content__order .order__product .product__header {
  padding: 5.83333vw 6.94444vw;
  display: flex;
  justify-content: space-between;
  color: #0f2945;
  text-transform: uppercase;
}
.section-content__order .order__product .product__header .product__title {
  font-weight: 600;
  font-size: 5.55556vw;
  letter-spacing: 0.03em;
}
.section-content__order .order__product .product__header .product__status {
  font-weight: 600;
  font-size: 3.33333vw;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.03em;
  background-color: #e8edf2;
  border-radius: 277.77778vw;
  padding: 1.66667vw 5.55556vw;
}
.section-content__order .order__product .product__body {
  padding: 7.5vw 7.5vw 10vw 6.94444vw;
  background-color: #fff;
  border-radius: 0 0 3.33333vw 3.33333vw;
}
.section-content__order .order__product .product__body .product__name {
  font-size: 4.44444vw;
  font-weight: 500;
  color: #9f9f9f;
  margin-bottom: 14.16667vw;
}
.section-content__order .order__product .product__body .product__year-cost {
  font-size: 9.44444vw;
  font-weight: 600;
  margin-bottom: 3.05556vw;
}
.section-content__order .order__product .product__body .product__year-cost span {
  font-size: 7.22222vw;
}
.section-content__order .order__product .product__body .product__item-cost {
  font-weight: 600;
  font-size: 5.55556vw;
}
.section-content__order .order__payment .payment__title {
  font-size: 6.11111vw;
  font-weight: 600;
  margin-top: 11.11111vw;
  margin-bottom: 5.55556vw;
}
.section-content__order .order__payment .payment__card {
  background-color: #f4f7fa;
  border: 1px solid #f4f7fa;
  border-radius: 1.11111vw;
  height: 34.72222vw;
  padding-left: 8.33333vw;
  padding-right: 6.94444vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4.44444vw;
  margin-bottom: 5.55556vw;
  cursor: pointer;
}
.section-content__order .order__payment .payment__card .card__icons {
  display: flex;
  gap: 5vw;
  align-items: center;
}
.section-content__order .order__payment .payment__card .card__icons img:nth-child(1) {
  width: 18.33333vw;
  height: 5.55556vw;
}
.section-content__order .order__payment .payment__card .card__icons img:nth-child(2) {
  width: 10vw;
  height: 8.05556vw;
}
.section-content__order .order__payment .payment__card .card__icons img:nth-child(3) {
  width: 17.22222vw;
  height: 5vw;
}
.section-content__order .order__payment .payment__account {
  height: 34.72222vw;
  border: 1px solid #f4f7fa;
  background-color: #f4f7fa;
  border-radius: 1.11111vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.33333vw;
  padding-right: 7.77778vw;
  margin-bottom: 5.55556vw;
  cursor: pointer;
}
.section-content__order .order__payment .payment__account .account__title-block .title-block__title {
  font-size: 4.44444vw;
  margin-bottom: 2.22222vw;
}
.section-content__order .order__payment .payment__account .account__title-block .title-block__subtitle {
  font-size: 3.61111vw;
  color: #9f9f9f;
  max-width: 69.44444vw;
}
.section-content__order .order__payment .payment__account .account__img {
  width: 19.44444vw;
  height: 19.44444vw;
}
.section-content__order .order__payment .payment__account .account__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.section-content__order .order__payment .payment_active {
  background-color: #e8edf2;
  border: 1px solid #0f2945;
}
.section-content__order .order__payment .payment__btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3.88889vw;
  letter-spacing: 0.05em;
  color: #0c1e34;
  padding: 5.27778vw;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
  margin-bottom: 4.44444vw;
}
.section-content__order .order__payment .payment__input {
  display: flex;
  align-items: flex-start;
}
.section-content__order .order__payment .payment__input .payment__confirm {
  font-size: 3.61111vw;
  color: #9f9f9f;
  position: relative;
  margin-left: 7.22222vw;
}
.section-content__order .order__payment .payment__input .payment__confirm a {
  text-decoration: underline;
}
.section-content__order .order__payment .payment__input input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.section-content__order .order__payment .payment__input .custom-checkbox + label::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 4.44444vw;
  height: 4.44444vw;
  border: 1px solid #0f2945;
  border-radius: 1.11111vw;
  margin-left: -7.22222vw;
}
.section-content__order .order__payment .payment__input .custom-checkbox:checked + label::before {
  background-image: url("../img/icons/card/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.33333vw 3.33333vw;
}

.section-content__subtitle {
  margin-top: 5.55556vw;
  margin-bottom: 5.55556vw;
  font-size: 6.11111vw;
  font-weight: 600;
}

.section-content__order {
  max-width: 138.88889vw;
  width: 100%;
}
.section-content__order .order__product {
  border: 1px solid #e7e7e7;
  border-radius: 3.33333vw;
  background-color: #f4f7fa;
}
.section-content__order .order__product .product__header {
  padding: 5.83333vw 6.94444vw;
  display: flex;
  justify-content: space-between;
  color: #0f2945;
  text-transform: uppercase;
}
.section-content__order .order__product .product__header .product__title {
  font-weight: 600;
  font-size: 5.55556vw;
  letter-spacing: 0.03em;
}
.section-content__order .order__product .product__header .product__status {
  font-weight: 600;
  font-size: 3.33333vw;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.03em;
  background: linear-gradient(267.17deg, #27f3b5 -52.96%, #0f2945 100%);
  color: #fff;
  border-radius: 277.77778vw;
  padding: 1.66667vw 5.55556vw;
}
.section-content__order .order__product .product__body {
  padding: 7.5vw 7.5vw 10vw 6.94444vw;
  background-color: #fff;
  border-radius: 0 0 3.33333vw 3.33333vw;
}
.section-content__order .order__product .product__body .product__name {
  font-size: 4.44444vw;
  font-weight: 500;
  color: #9f9f9f;
  margin-bottom: 14.16667vw;
}
.section-content__order .order__product .product__body .product__subt {
  color: #0f2945;
  font-size: 4.44444vw;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 3.33333vw;
}
.section-content__order .order__product .product__body .product__subt::before {
  content: "...................................................................................";
  /* Выводим линию */
  width: 100%;
  overflow-x: hidden;
  order: 2;
  /* Выводим вторым */
  margin: 0 2.77778vw 0 1.38889vw;
  color: #e7e7e7;
}
.section-content__order .order__product .product__body .product__subt .subt__count {
  order: 3;
}
.section-content__order .order__product .product__body .product__year-cost {
  font-size: 9.44444vw;
  font-weight: 600;
  margin-bottom: 3.05556vw;
  margin-top: 3.33333vw;
}
.section-content__order .order__product .product__body .product__year-cost span {
  font-size: 7.22222vw;
}
.section-content__order .order__product .product__body .product__item-cost {
  font-weight: 600;
  font-size: 5.55556vw;
}
.section-content__order .order__payment .payment__title {
  font-size: 6.11111vw;
  font-weight: 600;
  margin-top: 11.11111vw;
  margin-bottom: 5.55556vw;
}
.section-content__order .order__payment .payment__card {
  background-color: #f4f7fa;
  border: 1px solid #f4f7fa;
  border-radius: 1.11111vw;
  height: 34.72222vw;
  padding-left: 8.33333vw;
  padding-right: 6.94444vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4.44444vw;
  margin-bottom: 5.55556vw;
  cursor: pointer;
}
.section-content__order .order__payment .payment__card .card__icons {
  display: flex;
  gap: 5vw;
  align-items: center;
}
.section-content__order .order__payment .payment__account {
  height: 34.72222vw;
  border: 1px solid #f4f7fa;
  background-color: #f4f7fa;
  border-radius: 1.11111vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.33333vw;
  padding-right: 7.77778vw;
  margin-bottom: 5.55556vw;
  cursor: pointer;
}
.section-content__order .order__payment .payment__account .account__title-block .title-block__title {
  font-size: 4.44444vw;
  margin-bottom: 2.22222vw;
}
.section-content__order .order__payment .payment__account .account__title-block .title-block__subtitle {
  font-size: 3.61111vw;
  color: #9f9f9f;
  max-width: 69.44444vw;
}
.section-content__order .order__payment .payment__account .account__img {
  width: 19.44444vw;
  height: 19.44444vw;
}
.section-content__order .order__payment .payment__account .account__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.section-content__order .order__payment .payment_active {
  background-color: #e8edf2;
  border: 1px solid #0f2945;
}
.section-content__order .order__payment .payment__btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3.88889vw;
  letter-spacing: 0.05em;
  color: #0c1e34;
  padding: 5.27778vw;
  background-color: #27f3b5;
  border: 1px solid #69ffd1;
  border-radius: 2px;
  margin-bottom: 4.44444vw;
}
.section-content__order .order__payment .payment__input {
  display: flex;
  align-items: flex-start;
}
.section-content__order .order__payment .payment__input .payment__confirm {
  font-size: 3.61111vw;
  color: #9f9f9f;
  position: relative;
  margin-left: 7.22222vw;
}
.section-content__order .order__payment .payment__input .payment__confirm a {
  text-decoration: underline;
}
.section-content__order .order__payment .payment__input input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.section-content__order .order__payment .payment__input .custom-checkbox + label::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 4.44444vw;
  height: 4.44444vw;
  border: 1px solid #0f2945;
  border-radius: 1.11111vw;
  margin-left: -7.22222vw;
}
.section-content__order .order__payment .payment__input .custom-checkbox:checked + label::before {
  background-image: url("../img/icons/card/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.33333vw 3.33333vw;
}

}